<div class="container"> 
    <div class="row"> 
      <div class="col-lg-4">
       <%= render 'users/info', user: @user %>
      </div>
      <div class="col-lg-8"> 
        <table class="table table-basic">
          <tr>
            <th></th>
          　<th>Title</th>
            <th>opinion</th>  
          </tr>
          <h3>Books</h3>
            <tr>
              <td>*imageを挿入</td>
              <td>タイトルを挿入</td>
              <td>オピニオンを挿入</td>
            </tr>
          
        </table>
      </div>
   </div>  
</div>  