<div class="container"> 
    <div class="row"> 
      <div class="col-lg-4">
       <%= render 'users/info', user: @user, book: @newbook %>
      </div>
      <div class="col-lg-8"> 
        <table class="table table-basic">
          <tr>
          　<th>title</th>
            <th>Opinion</th>  
          </tr>
          <h3>Book detail</h3>

            <tr>
              <td><%= @book.title %></td>
              <td><%= @book.body %></td>
            </tr>
        </table>
      </div>
   </div>  
</div> 